<div id="Container">
    <div id="Calculadora">
        <h1>Calculadora</h1>
        <h5>Valor 1</h5>
        <input [value]="resultado ? valor1:'' " type="text" id="valor1" (input)="cargarValor1($event)">
        <h5>Valor 2</h5>
        <input [value]="resultado ? valor2:'' " type="text" id="valor2" (input)="cargarValor2($event)">
        <h5>Resultado</h5>
        <input type="text" id="resultado" disabled [value]="resultado">
        <div id="Actions">
        <app-calc-maths [valor1]="valor1" [valor2]="valor2" (resultado)="calcular($event)" (limpiarCampos)="limpiar()"></app-calc-maths>    
        </div>
    </div>
</div>

